<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://stravawebhooksazurefunctions20240223145139.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b08b8c93-c32d-4e9c-bb3a-1720a5326ac1/resourceGroups/bav2212/providers/Microsoft.Web/sites/StravaWebhooksAzureFunctions20240223145139</ResourceId>
    <UserName>$StravaWebhooksAzureFunctions20240223145139</UserName>
    <_SavePWD>true</_SavePWD>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <PublishUrl>https://stravawebhooksazurefunctions20240223145139.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>